.main{
    padding: 5px;
    font-size: 1.5em;
}

.transition{
    margin: 3px;
}

.transitionDeleteButton{
    background-color: red !important;
}

input{
    width: 48%;
}
.transitionButtons{
    margin:5px;
    margin-left: 0;
    font-size: 0.6em;
}