<div class="container main">
    <h3>{{title}}</h3>
    <form [formGroup]="myForm" novalidate >
        <div class="form-group">
            <label>Start state</label>
            <input class="form-control" name="startState" formControlName="StartState" />
             
            <div class="alert alert-danger"
                *ngIf="myForm.controls['StartState'].invalid && myForm.controls['StartState'].touched">
                Start state is empty!
            </div>
        </div>
        <div class="form-group">
            <label>Final states</label>
            <input class="form-control" name="finalStates" formControlName="FinalStates" />
             
            <div class="alert alert-danger"
                *ngIf="myForm.controls['FinalStates'].invalid && myForm.controls['FinalStates'].touched">
                Final states is empty!
            </div>
        </div>
        
        <Label>Transitions</Label>
        <div formArrayName="Transitions">
            <div class="form-group" *ngFor="let transition of myForm.controls['Transitions']['controls']; let i = index">
                <label style="font-size: 0.8em;">Transition</label>
                <input class="form-control" formControlName="{{i}}" />

                <div class="alert alert-danger"
                    *ngIf="myForm.controls['Transitions']['controls'][i].invalid && myForm.controls['Transitions']['controls'][i].touched">
                        Transition states is empty!
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-info transitionButtons" (click)="addTransition()">
                Add transition
            </button>
            <button class="btn btn-info transitionButtons" (click)="deleteTransition()">
                Delete transition
            </button>
            <br>
            <button class="btn btn-primary" [disabled]="myForm.invalid" (click)="findResult()">
                Find Result
            </button>
        </div>
    </form>
    <div>Result: {{result}}</div>
</div>